.breadcrumbs-main {
    border: 1px solid #D6D6D6;
}

.breadcrumb {
    background: none;
    margin: 0;
}


.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>.active {
    color: #C3C3C3;
}

.breadcrumb li a {
    color: #242424;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #73B6E1;
    text-decoration: none;
}

.product-img {
    width: 100%;
    object-fit: cover;
    border: 1px solid rgba(178, 178, 178, 0.394);
}