<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link search-link" href="#">Home</a>
        </li>
      </ul>
      <form class="d-flex search-form" role="search">
        <input class="form-control me-4" type="search" placeholder="Search..." aria-label="Search">
        <button class="search-btn" type="submit"></button>
      </form>
    </div>
  </div>
</nav>
